body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin: 20px 0;
}
/* Discussion Form */
#discussion-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

#message {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#postbutton {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

#postbutton:hover {
    background-color: #0056b3;
}

/* Discussion List */
#discussion-list {
    list-style: none;
    padding: 0;
}

#discussion-list li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#discussion-list li:nth-child(odd) {
    background-color: #e0e0e0;
}

/* Discussion List */
#discussion-list {
    list-style: none;
    padding: 0;
}

#discussion-list li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}

#discussion-list li:nth-child(odd) {
    background-color: #e0e0e0;
}

#discussion-list p {
    margin: 0; /* Remove default paragraph margin */
    word-wrap: break-word; /* Wrap long words to the next line */
}


.btn {
    margin-left: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.btn:hover {
    background-color: #0056b3;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
